# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data science
- List the commonly used libraries used by Data Scientists
- List Data science tools
- Run an arithmetic operation in Jupyter Notebook

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java
5. C/C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Tensorflow
3. scikit-learn

<table>
  <tr>
    <th>Data science tools</th>
  </tr>
    
  <tr>
    <td>Kafka</td>
  </tr>
    
  <tr>
    <td>Kuteflow</td>
  </tr>
    
  <tr>
    <td>Hadoop</td> 
  </tr>
    
   <tr>  
    <td>Apache Spark</td>    
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
RAKOTOARISOA Tolojanahary Finaritra